audio {
	width:400px;
	display: block;
	margin: 0 auto;
}

#controls{
	width:200px;
	display: block;
	margin: 0 auto;
}

.control{
	width: 45px;
	height: 45px;
	margin: 1px;
	margin-top: 10px;
	border: 1px solid lightgrey;
	background: #fff;
	border-radius: 25px;
	cursor: pointer;
}
.control:active{
	outline: none;
}
.control#playPause{
	background: url(../icon/playPause.svg) center no-repeat;
}
.control#pujarVolum{
	background: url(../icon/volume-up.svg) center no-repeat;
}
.control#baixarVolum{
	background: url(../icon/volume-down.svg) center no-repeat;
}
.control#silenci{
	background: url(../icon/volume-silent.svg) center no-repeat;
}