.row{
	margin-top: 20px;
}
h2{
	text-align: center;
	margin-top:30px;
}
#principal{
	margin-top: 80px;
}
#principal #cercador{
	display: block;
	width: 80%;
	margin-left: 10%;
	text-align: center;
	font-size: 20px;
	height: auto;
	padding: 5px;
}
.tipusEvent{
	color: #F08E75;
	font-weight: 700;
}
.dataEvent{
	color: #9ABCA7;
}
a.artista{
	font-size: 20px;
    font-weight: 700;
    color: #425b76;
}
.vermell{
	background-color: #F08E75;
	margin-top: 80px;
	padding-bottom: 100px;
}
.vermell .tipusEvent{
	color: #FFF1EE;
}

.vermell .dataEvent{
	color: #FFFFFF;
}
