form{
	margin-top: 30px;
}
input[type=text], textarea{
	display: block;
	margin-top: 10px;
}
input[type=submit]{
	display: block;
	margin-top: 20px;
}
h1{
	font-size: 26px;
}
.principal .col-12{          
	padding: 30px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
}
.colContacte{
	background-color: #F08E75
}