#col1 img{
	width: 100%;
}
#col1 h2{
	margin-top: 30px;
}
#col1 h2, #col1 p{
	padding-left: 30px;
	padding-right: 30px;
}
@media screen and (min-width: 992px){
	#col1 h2, #col1 p{
		padding-left: 40px;
		padding-right: 40px;
	}
}
#col1 #titolPrincipal{
	margin-bottom: 30px;
}
#colArtista{
	background-color: #F08E75;
	color: #fff;
	padding: 40px;
}
#colArtista h1{
	color: #fff;
}
#colArtista a{
	color: #425b76;
}