.content{
	width:80%;
	margin-left: 10%;
	margin-top: 100px;}
.titol{
	margin-top: 40px;
	font-size: 18px;
}
.contingut{
	margin-left: 100px;
}
.color{
	border: 1px solid black;
	width:20px;
	height: 20px;
	border-radius: 25px;
}
#logos p{
	font-weight: bold;
}
#icones .icona{
	width: 150px;
	display: inline-block;
	margin-top:20px;
}
#icones .icona img{
	width: 20%;
	margin-left: 10%;
}