.row{
	margin-top: 40px;
}

body{
	font-family: 'NewsCycle';
	color: #425b76;
	font-size: 16px;
    margin-top: 30px;
    position: relative;
    background-color: #f5f8fa;
}



header .xxss img{
	margin-left:2px;
	margin-right: 2px;
}

#banner img{
	width: 100%;
}
#banner #titolPrincipal{
	position: relative;
	top: -100px;
	margin-left: 30px;
}
@media screen and (min-width: 992px){
	#banner #titolPrincipal{
		top: -150px;
		margin-left: 50px;
	}
}
#banner h1, #banner h2 {
	color: #FFF1EE !important;
	text-align: left;
}
.titolSeccio{
	text-align: center;
}
#primerTitol{
	margin-top: -40px;
}
@media screen and (min-width: 992px){
	#primerTitol{
		margin-top: 40px;
	}
}
.esdeveniment{
	margin-top: 30px;
}
@media screen and (min-width: 992px){
	.esdeveniment{
		margin-top: 0px;
	}
}
.esdeveniment img{
	width: 100%;
}
@media screen and (min-width: 992px){
	.esdeveniment img{
		height: 196px;
	}
}
.esdeveniment .text{
	position: relative;
	left: 30px;
	top: 20px;
}
.esdeveniment .data{
	font-weight: 700;
	font-size: 20px;
	line-height: 0px;
}
.esdeveniment .sala{
	font-size:12px;
	line-height: 6px;
}
.esdeveniment .artista{
	font-size: 14px;
	font-weight: 700;
	line-height: 10px;
}
.calendari{
	text-align: center;
}
.calendari a{
	text-decoration: none;
}
#esdevenimentsDestacats img{
	width: 100%;
}
#esdevenimentsDestacats .text{
	margin-top:30px;
}
#publi img{
	width: 100%;
}
.ubicacio #mapa img{
	width:100%;
}
.ubicacio .text{
	text-align: center;
	margin-top:30px;
}
@media screen and (min-width: 992px){
	.ubicacio .text{
		margin-top:0px;
	}
}
