#banner #titolPrincipal{
	position: relative;
	top: -200px;
	margin-left: 80px;
}

#banner h1, #banner h2 {
	color: #FFF1EE !important;
	text-align: left;
}
#properaSetmana{
	margin-top: -100px;
}
section h2{
	text-align: center;
}

#properaSetmana .esdeveniment{
	width: 33%;
	margin-top:30px;
}
#properaSetmana .esdeveniment img{
	width: 90%;
}
#properaSetmana .esdeveniment .text{
	position: relative;
	left: 30px;
}
#properaSetmana .esdeveniment .data{
	font-weight: 700;
	font-size: 20px;
	line-height: 0px;
}
#properaSetmana .esdeveniment .sala{
	font-size:12px;
	line-height: 6px;
}
#properaSetmana .esdeveniment .artista{
	font-size: 14px;
	font-weight: 700;
	line-height: 10px;
}
#properaSetmana .calendari{
	text-align: center;
	margin-top: 30px;
}

#properaSetmana .calendari a{
	text-decoration: none;
}
#properaSetmana .calendari a *{
	vertical-align: middle;
}
#destacats .text{
	width:45%;
	margin-right: 9%;
	margin-top: 40px;
}
#destacats img{
	width: 45%;
	margin-top: 40px;
	position: relative;
	top: 85px;
}

#publicitat{
	text-align: center;
}
#publicitat img{
	margin-top: 20px;
}

#onSom #mapa{
	width: 45%;
	margin-top: 40px;
	margin-left: 10%;
}
#onSom #mapa img{
	width:100%;
}
#onSom #text{
	width: 30%;
	margin-top: 40px;
	margin-left:10%;
	font-weight: 700;
	position: relative;
	top: 40px;
}
#onSom #text #nom{
	font-size: 20px;
	line-height: 14px;
}
#onSom #text #carrer{
	font-size: 16px;
	line-height: 8px;
}
#onSom #text #ciutat{
	font-size: 16px;
	line-height: 8px;
}
#onSom #text #altres{
	font-size: 14px;
	line-height: 12px;
}