.flex-container{
	display: flex;
}
header{
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

#menu ul{
	padding-inline-start: 0px;
}
#menu li{
	margin-left:30px;
}

@media screen and (min-width: 1200px){
	header .xxss{
		display: flex;
		flex-basis:280px;
	}
}

header .xxss a{
	margin-left:8px;
}

article h2{
	text-align: center;
}

@media screen and (min-width: 1200px){
	#banner #titolPrincipal{
		top: -150px;
		margin-left: 80px;
	}
}


#properaSetmana #esdeveniments{
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-start;
	margin-top: 50px;
}
@media screen and (min-width: 1200px){
	#properaSetmana #esdeveniments{
		flex-flow: row nowrap;
	}
}
#esdeveniments .esdeveniment{
	margin: 0 auto;
	margin-top: 30px;
}
@media screen and (min-width: 1200px){
	#esdeveniments .esdeveniment{
		margin-top: 0px;
		margin-left: 20px;
		margin-right: 20px;
	}
}
#esdeveniments .esdeveniment img{
	width: 100%;
}
@media screen and (min-width: 1200px){
	#esdeveniments .esdeveniment img{
		width: 350px;
		height: 196px;
	}
}
#properaSetmana .esdeveniment .text{
	position: relative;
	left: 30px;
}
#properaSetmana .esdeveniment .data{
	font-weight: 700;
	font-size: 20px;
	line-height: 0px;
}
#properaSetmana .esdeveniment .sala{
	font-size:12px;
	line-height: 6px;
}
#properaSetmana .esdeveniment .artista{
	font-size: 14px;
	font-weight: 700;
	line-height: 10px;
}
#properaSetmana .calendari{
	text-align: center;
	margin-top: 30px;
}
#properaSetmana .calendari a{
	text-decoration: none;
}
#properaSetmana .calendari a *{
	vertical-align: middle;
}
#esdevenimentsDestacats{
	margin-top: 50px;
	flex-flow: column-reverse nowrap;
	justify-content: space-between;
	align-items: center;
}
@media screen and (min-width: 1200px){
	#esdevenimentsDestacats{
		flex-flow: row nowrap;
	}
}
@media screen and (min-width: 1200px) {
	#esdevenimentsDestacats .text{
		margin-right: 150px;
	}
}
#esdevenimentsDestacats img{
	width: 100%;
	height: auto;
}
@media screen and (min-width: 1200px) {
	#esdevenimentsDestacats img{
		width: 500px;
		height: auto;
	}
}
#publicitat{
	text-align: center;
}

#publicitat img{
	margin-top: 20px;
	width: 100%;
}
@media screen and (min-width: 1200px){
	#publicitat img{
		width: auto;
	}
}
.ubicacio{
	margin-top: 50px;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
@media screen and (min-width: 1200px){
	.ubicacio{
		flex-flow: row nowrap;
	}
}
.ubicacio #mapa img{
	width:100%;
}
@media screen and (min-width: 1200px) {
	.ubicacio #mapa img{
		width:60%;
		margin-left:100px;
	}
}
.ubicacio #text{
	text-align: center;
}
@media screen and (min-width: 1200px) {
	.ubicacio #text{
		width: 20%;
		margin-right: 100px;
	}
}
#onSom #text .nom{
	font-size: 20px;
	line-height: 14px;
}
#onSom #text .carrer{
	font-size: 16px;
	line-height: 8px;
}
#onSom #text .ciutat{
	font-size: 16px;
	line-height: 8px;
}
#onSom #text .altres{
	font-size: 14px;
	line-height: 12px;
}

footer #linksFinals a{
	border-left: 1px solid #FFF1EE;
	padding-left: 5px;
	padding-right: 5px;
}
footer #linksFinals a:first-of-type{
	border-left: none;
}
footer .container{
	flex-flow: column nowrap;
}
@media screen and (min-width: 1200px) {
	footer .container{
		flex-flow: row nowrap;
	}
}
.container > div{
	flex-grow: 1;
}
.container #agenda ul, .container #clubs ul, .container #segell ul, .container #premsa ul{
	display: none;
}
@media screen and (min-width: 1200px){
	.container #agenda ul, .container #clubs ul, .container #segell ul, .container #premsa ul{
		display: block;
	}
}
footer .separador{
	width: 60%;
	margin: -5px;
	margin-left: 0px;
}
@media screen and (min-width: 1200px){
	footer .separador{
		display: none;
	}
}
#xarxesFinal{
	flex-grow: 0;
}