#videoCaptura{
	width: 100%;
}
h2#titolIframe{
	display: block;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
iframe{
	width: 100%;
	display: block;
	margin: 0 auto;
}


@media (min-width: 768px){
	#videoCaptura{
		width: 90%;
	}
	iframe {
		width: 560px;
		height: 315px;
	}
}