/*
*** TIPOGRAFIES ***
*/
@font-face {
  font-family: 'NewsCycle';
  src: url('fonts/NewsCycle-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'NewsCycle';
  src: url('fonts/NewsCycle-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Lora';
  src: url('fonts/Lora-Italic.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Lora';
  src: url('fonts/Lora-BoldItalic.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Karma';
  src: url('fonts/Karma-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Karma';
  src: url('fonts/Karma-Bold.ttf') format('truetype');
  font-weight: 700;
}

body{
	font-family: 'NewsCycle';
	color: #425b76;
	font-size: 16px;
	/*width: 90%;
    margin-left: 5%;
    margin-top: 30px;*/
    position: relative;
    background-color: #f5f8fa;
}


a{
	color: #F2AA1F;
	font-weight: 700;
}
/*
*** COLORS ***
*/
.colorPrim{
	color: #425b76;
}
.colorComp1{
	color: #F2AA1F;
}
.colorComp2{
	color: #fff1ee;
}
.colorFosc{
	color:#090909;
}
.colorClar{
	color:#fff;
}
.colorOk{
	color: #9ABCA7;
}
.colorError{
	color: #ff7a59;
}


/*
*** HEADERS ***
*/
h1{
	font-size: 30px;
	line-height: 32px;
	color: #425b76;
}
@media(min-width: 768px){
	h1{
		font-size: 36px;
		line-height: 44px;
	}
}
h2{
	font-size: 24px;
	line-height: 28px;
	color: #425b76;
}
@media(min-width: 768px){
	h2{
		font-size: 26px;
		line-height: 30px;
	}
}
h3{
	font-size: 26px;
	line-height: 30px;
}
h4{
	font-size: 22px;
	line-height: 28px;
}
p{
	font-size: 14px;
}
p.small{
	font.size: 12px;
}

/*
*** FORMS ***
*/
label{
	font-size: 10px;
}
input[type=text]{
	border-radius: 10px;
	font-size: 12px;
	border: 1px solid #B9BDC1;
	color: #797979;
	box-shadow: 0 2px 4px #bbb inset;
	padding-left: 10px;
	height: 25px;
	width: 170px;
}
input[type=text]:focus, textarea:focus{
	background: #FFF1EE;
	outline: 0;
}
textarea{
	border-radius: 10px;
	font-size: 12px;
	border: 1px solid #B9BDC1;
	color: #797979;
	box-shadow: 0 2px 4px #bbb inset;
	padding-left: 10px;
}



/*
*** BUTTONS ***
*/
button, input[type="submit"]{
	font-size: 14px;
	cursor: pointer;
	border-radius: 20px;
	padding: 10px 25px;
	transition: .3s ease-in-out;
	text-decoration: none;
	font-weight: 400;
}
.buttonPrimari{
	background-color: #ff7a59;
	color: #fff;
	border: 1px solid #ff7a59;
}
.buttonPrimari:hover{
	background-color: #ffbcac;
    border: 1px solid #ffbcac;
}
.buttonSec{
	background-color: #fff;
	color: #ff7a59;
	border: 1px solid #ff7a59;
}
.buttonSec:hover{
	background-color: #fff1ee;
}




/*
*** GLOBAL ***
*/
.lineaVertical{
	border-left: 1px solid black;
	height: 60px;
}
section{
	margin-top: 50px;
	width: 84%;
	margin-left: 8%;
}
header #logo img{
	width: 80%;
}
@media screen and (min-width: 992px){
	header #logo img{
		width: 100%;
	}
}
.icon{
	width:30px;
}
footer{
	background-color: #425B76;
	color: #FFF1EE;
	margin-top: 50px;
	padding:30px;
}

header #menu ul{
	list-style-type: none;
}
header #menu li a{
	text-decoration: none;
	color: #F2AA1F;
	font-size: 16px;
}
header #menu{
	display: none;
}
@media screen and  (min-width: 1200px){
	header #menu{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		flex-basis: 550px;
	}
}
header .xxss{
	display: none;
}
@media screen and (min-width: 1200px){
	header .xxss{
		display: flex;
		flex-basis:280px;
	}
}
.lineaVertical{
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: top;
}
#menuBurger{
	margin-right: 20px;
}
@media screen and  (min-width: 1200px){
	img#menuBurger{
		display: none;
	}
}
footer ul{
	list-style-type: none;
	padding-inline-start: 0px;
}
footer a{
	color: #FFF1EE;
	text-decoration: none;
}

footer #covidClub{
	width: 20%;
	font-weight: 700;
}
footer #covidClub img[alt=logo-footer]{
	margin-bottom: 30px;
}
footer #covidClub #text{
	margin-top: 30px;
}
footer #covidClub #nom{
	font-size: 16px;
	line-height: 14px;
}
footer #covidClub #carrer{
	font-size: 14px;
	line-height: 12px;
}
footer #covidClub #ciutat{
	font-size: 14px;
	line-height: 12px;
}
footer #covidClub #telefon{
	font-size: 14px;
	line-height: 12px;
}
footer #covidClub #mail{
	font-size: 14px;
	line-height: 12px;
}
footer #linksFinals a{
	border-left: 1px solid #FFF1EE;
	padding-left: 5px;
	padding-right: 5px;
}
footer #linksFinals a:first-of-type{
	border-left: none;
}

footer .row{
	margin-top: 20px;
}
footer hr{
	background-color: #FFF1EE;
}
footer .separador{
	width: 60%;
	margin: -5px;
	margin-left: 10px;
}
footer #linksFinals a{
	border-left: 1px solid #FFF1EE;
	padding-left: 5px;
	padding-right: 5px;
}
footer #xarxesFinal{
	margin-top: 20px;
	font-weight: 700;
}
@media screen and (min-width: 992px){
	footer #xarxesFinal{
		margin-top: 0px;
	}
}
/*
*** GLOBAL ***
*/
/*
.lineaVertical{
	border-left: 1px solid black;
	height: 50px;
}
.ib{
	display: inline-block;
}
.va-t{
	vertical-align: top;
}
.va-m{
	vertical-align: middle;
}
.fw-b{
	font-weight: 700;
}
header *{
	vertical-align: middle;
}
header #logo img{
	width: 225px;
}
header #menu{
	margin-left: 50px;
	
}
header #menu ul{
	list-style-type: none;
}

header #menu li{
	display: inline;
	margin-left: 15px;
}
header #menu li a{
	text-decoration: none;
	color: #F2AA1F;
	font-size: 16px;
}
img.icon{
	width:30px;
}

header .xxss{
	margin-left: 200px;
}
.xxss a{
	text-decoration: none;
	margin-right: 7px;
}
header #buscador{
	margin-left: 50px;	
}

header #buscador img{
	margin-left: 10px;
}
section{
	margin-top: 50px;
	width: 84%;
	margin-left: 8%;
}
footer{
	background-color: #425B76;
	color: #FFF1EE;
	margin-top: 50px;
	padding:30px;
}
footer ul{
	list-style-type: none;
	padding-inline-start: 0px;
}
footer a{
	color: #FFF1EE;
	text-decoration: none;
}

footer #agenda{
	width: 10%;
	position: relative;
	top: 20px;
	margin-left: 100px;
}
footer #clubs{
	width: 10%;
	position: relative;
	top: 20px;
}
footer #segell{
	width: 10%;
	position: relative;
	top: 20px;
}
footer #premsa{
	width: 17%;
	position: relative;
	top: 20px; 
}
footer #subscribe{
	width: 20%;
	position: relative;
	top: 20px;
}
footer #linksFinals{
	width: 800px;
}
footer #linksFinals a{
	border-left: 1px solid #FFF1EE;
	padding-left: 5px;
	padding-right: 5px;
}
footer #linksFinals a:first-of-type{
	border-left: none;
}

footer #xarxesFinal{
	margin-left: 230px;
}
*/